body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #EBE8E7;
    /* border-top: 2px solid rgb(168, 0, 98); */
    padding: 15px 200px 30px 200px;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 80px;
    height: auto;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    color:  #67AECA;
    /* text-shadow: 2px 1px rgb(51, 200, 185); */
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    /* color: rgb(51, 200, 185); */
    text-shadow: 1px 1px silver;
}

.headersection {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.headersection img {
    border: 2px solid #67AECA;
    border-radius: 3px;
    width: 440px;
    height: auto;
}

.headersection h1{ 
    color: #5F0F4E;
    text-shadow: 2px 2px white;
    font-size: 48px;
    font-weight:900;
    width: 400px;   
    margin: 0;
}

.headersection p {
    color:   black;
    font-size: 18px;
    width: 500px;
    margin-top: 7px;
}

button {
    background: #67AECA;
    color:  white;
    border: 2px solid white;
    min-width: 120px;
    height: 25px;
    border-radius: 4px;
    border-color: white;
    margin-top: 10px;
 
}

button:hover {
    background-color: #5F0F4E;
    /* color: silver; */
}

.main {
    background-color: #5F0F4E;
    height: 420px;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.main img {
    border: 2px solid #67AECA;
    border-radius: 3px;
    width: 300px;
    min-height: 200px;
}

.main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900px;
    padding: 50px 0px 50px 0px;
    margin: 0;
    color: #EBE8E7;
}

.descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBE8E7;
    color: black;
    height: 300px;
}

.citation, .author{
    width: 800px;
    height: auto; 
}

.quote .author {
    display: flex;
    justify-content: flex-end;
}
.quote q {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote p {
    font-size: 18px;
    /* text-shadow: 2px 2px #EA7186; */
    color: black;
    font-weight: 900;
}


.action {
    background-color: #5F0F4E;
    color: black;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    background-color:  #EBE8E7;
    border: 2px solid #67AECA;
    border-radius: 4px;
    min-width: 900px;
    height: 150px
}

.action h3, .action p {
    margin: 2;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #67AECA;
    color: white;
    font-size: 18px;
    height: 60px
}